<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white pt-4">

   
    <!-- Copyright -->
    <div class="hello">
        <section id="copy">
           <div class="last-items-footer">
              <span class="allrights">2018 Liverpool / Todos los derechos reservados D.R. ®</span>
              <a target="_blank" onclick="dataLayer.push({ 'eventCategory' : 'footer', 'eventAction' : 'click', 'eventLabel': 'terminos y condiciones', 'event' : 'click' });" href="//assets.liverpool.com.mx/ayuda/#/sec/otros-temas/terminos-y-condiciones/aviso-de-privacidad-integral">Términos y condiciones /</a> 
              <a class="" target="_blank" onclick="dataLayer.push({ 'eventCategory' : 'footer', 'eventAction' : 'click', 'eventLabel': 'avisodeprivacidad', 'event' : 'click' });" href="//assets.liverpool.com.mx/ayuda/#/sec/otros-temas/terminos-y-condiciones/aviso-de-privacidad-integral">Aviso de privacidad</a>
              <p class="comments_p_d"> Comentarios y Sugerencias: <a href="mailto:atencion@liverpool.com.mx">atencion@liverpool.com.mx</a></p>

           </div>
        </section>
     </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
